
body  {
    /* Hintergrund im Body */

    text-align: center;
    background-image: url("front_unscharf.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:#1a1b1b;
    
}

#centerText {
        /* Text-Sytle */

    left: calc(50% -30px);
    text-align: center;
    color: rgb(32, 32, 32);
    text-shadow: 0 0 15px rgb(4, 238, 255);
    font-size: 6em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

input {
    
        /* Sytle des Buttons */

    padding: 5px 15px;
    color: rgba(238, 238, 238, 0.815);
    background-color: rgba(211, 211, 211, 0.288);
    border: solid 2.5px rgba(238, 238, 238, 0.815);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    transition: ease-in-out all 300ms;
}

    /* Style des Buttons, wenn man sich mit dem Mauszeiger über diesen befindet*/


input:hover {
    font-weight: bold;
    color: rgb(4, 238, 255);
    background-color: rgb(49, 48, 48);
    border-color: rgb(4, 238, 255);

    transform: translate(0px, -10px);
    
    box-shadow:  0px 0px 50px 
    rgb(4, 238, 255, 1);
}





