<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="page-type" content=" homepage">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords"
content="homepage,dokument,webpage,page,web,netz,homepage dokument webpage page web netz">
<meta name="description"
content="homepage, dokument, webpage, page, web, netz" >
<title>homepage, dokument, webpage, page, web, netz, homepage dokument webpage page web netz</title>

<!-- /////////////////// Copyright-Vermerk /////////////////// -->
<!-- Der nachfolgende einzeilige Copyright-Vermerk (c) ist nicht zu loeschen.-->
<!-- (c)Copyright by S.I.S.Papenburg / www.on-mouseover.de/templates/ -->
<!--Ein Entfernen dieses Copyright/Urheberrecht-Vermerks kann rechtliche Schritte nach sich ziehen -->
<!-- ////////////////////////////////////// -->



<!-- /////////////////// Der nachfolgende Hinweis-Vermerk darf geloescht werden /////////////////// -->
<!-- Hinweis:
Das Anbieten dieser Vorlage auf einer Webseite, CD, DVD oder anderen Bild/Tontraegern ist untersagt.
Nutzen duerfen Sie diese Vorlage aber auf einer Webseite wie folgt:
Die Vorlage kann privat (kostenlos) und kommerziell/gewerblich (gegen Bezahlung) fuer Sie selbst oder eine dritte Person (andere Person oder Firma) genutzt werden.
Je nach dem Inhalt, welcher eingefuegt wird, kann auch fuer Privatpersonen eine kommerzielle Nutzung vorliegen.
Lesen Sie auf der Webseite www.on-mouseover.de/templates/
bitte die Nutzungsbedingungen nach.
-->
<!-- /////////////////// Ende /////////////////// -->


<link rel="stylesheet" href="{{ url_for('static', filename ='format.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='menue.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='animation.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='font-awesome.min.css' )}}" type="text/css">

<!-- /////////////////// BROWSERWEICHE  - Conditional Comments  Internet Explorer Vers. 8 und tiefer /////////////////// -->
<!--[if lt IE 9]>
   <link href="css/hinweis-alte-ie.css" rel="stylesheet" type="text/css">
<![endif]-->
<!-- /////////////////// Ende /////////////////// -->


</head>

<body >

<div class="container_haupt" id="top">



<!-- ============================== HAUPTBEREICH ============================== -->


<!-- ############################################################ -->
<!-- kopf bereich -->
<!-- ############################################################ -->

<div class="section kopf-main clearfix">
<div class="section kopf clearfix">
<div class="kopfbox">

<!-- kopfbox-a -->
<div class="kopfbox-a">
<span class="name">Cup Of Coffee Please</span>
<span class="slogan">This Is Responsive</span>
</div>
<!-- kopfbox-a ende -->

<!-- kopfbox-b  -->
<div class="kopfbox-b">
<!-- = = = = = = = = = = navigation   = = = = = = = = = = -->
<div id="nav-menue">
<!--  checkboxhack versteckt -->
<input type="checkbox" id="open">
<!--  menue-schliessen-button -->
<label class="button-close" for="open"><i class="fa fa-times"></i></label>
<!--  menue-oeffnen-button -->
<label class="button-open" for="open"><i class="fa fa-bars"></i></label>

<div id="menu1">
<ul>
<li><a  href="index.html">Home</a></li>
<li><a  href="index1.html">Primus</a></li>
<li><a  href="index2.html">Secundus</a></li>
<li><a  href="index3.html">Tertius</a></li>
<li><a  href="index4.html">Quartus</a></li>
<li><a  href="index5.html">Quintus</a></li>
<li><a  href="index6.html">Sextus</a></li>
</ul>
</div>
</div>
<!-- = = = = = = = = = = ENDE navigation = = = = = = = = = = -->
</div>
<!-- kopfbox-b ende -->


</div>
</div>
</div>
<!-- ende kopf-main -->




<!-- ############################################################ -->
<!-- logo bereich -->
<!-- ############################################################ -->

<div class="section logo-main clearfix">

<div class="section logo clearfix">
<div class="logobox">
<span class="seitentitel-mobil">Disclaimer</span>
</div>
</div>

<div class="logo-bottom">&nbsp;</div>

</div>
<!-- ende logo-main -->



<!-- ############################################################ -->
<!-- inhalt bereich -->
<!-- ############################################################ -->

<div class="section inhalt-main clearfix">


<!-- ############################## content ############################## -->

<div class="section content clearfix">
<div class="contentbox">

<h2>Haftungsausschlu&szlig;</h2>

Mei no doming phaedrum laboramus, no est salutandi qualisque. Vix doctus delicatissimi et. Vel malorum interpretaris te, ad has suscipit apeirian indoctum. Et sed aperiri scaevola argumentum, ne purto fuisset evertitur eos. At mei tale verterem lobortis.
<br>
<br>

Est civibus moderatius dissentiet ut. Copiosae iudicabit cum in, in diceret eripuit appareat eam. Mei integre ornatus sensibus in, duo inimicus appellantur ex. Sit te petentium persecuti, ne fabellas insolens nam, quo aperiam invenire no. Deleniti definitiones vis ex, audiam accusamus consulatu at vix. Et ipsum dicant forensibus cum, ea theophrastus concludaturque his, his minim appellantur in.
<br>
<br>

An has habeo dicit. Ridens impetus placerat et qui, ut vim nonumy sententiae, in quo lucilius praesent complectitur. Fabulas interpretaris eu vel, at pri ipsum dicam feugait, mazim recteque id ius. Eu quot accommodare nam. Nam vocent ponderum at. Iriure salutatus reprimique sed te, eu quo officiis recusabo. Ne vim libris gubergren.
<br>
<br>

Mea enim iusto eloquentiam an, altera aliquip at per. Putant impedit scaevola his ad, alia sint congue sea ad. No sed rebum reque verterem, movet postulant his cu, id sed veri congue aperiam. Graecis corrumpit cum at, ei qui modus euismod. An posse consequat est. Alii semper ei pri, in vis vivendo maluisset.


</div>
</div>
<!-- ############################## content ENDE ############################## -->





</div>
<!-- ende inhalt -->



<!-- ############################################################ -->
<!-- fuss bereich -->
<!-- ############################################################ -->



<!-- ############################## fuss ############################## -->
<div class="section fuss-main clearfix ">

<div class="section fuss clearfix  ">

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>More</h3>
<div class="fussmenu2" >
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="index1.html">Primus</a></li>
<li><a href="index2.html">Secundus</a></li>
<li><a href="index3.html">Tertius</a></li>
<li><a href="index4.html">Quartus</a></li>
<li><a href="index5.html">Quintus</a></li>
<li><a href="index6.html">Sextus</a></li>
</ul>
</div>
<!-- fussbox inhalt ende -->
</div>
</div>

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>Legal Conditions</h3>
<div class="fussmenu2"  >
<ul>
<li><a href="impressum.html" >Impressum</a></li>
<li><a href="datenschutz.html" >Datenschutz</a></li>
<li><a href="disclaimer.html" >Disclaimer</a></li>
</ul>
</div>
<h3>Find Us</h3>
Ron Robertson<br>
Roxanne Street 12<br>
GB - London
<!-- fussbox inhalt ende-->
</div>
</div>

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>Social Media</h3>
<a href="index.html"><i class="fa fa-facebook"></i></a>
<a href="index.html"><i class="fa fa-twitter"></i></a>
<a href="index.html"><i class="fa fa-google-plus"></i></a>
<a href="index.html"><i class="fa fa-instagram"></i></a>
<a href="index.html"><i class="fa fa-youtube"></i></a>
<a href="index.html"><i class="fa fa-skype"></i></a>
<br>
<h3>Mail</h3>
infokontaktmail@muster.de
<!-- fussbox inhalt ende -->
</div>
</div>


</div>
<!-- fuss ende -->

<div class="fuss-bottom"><span>&copy;</span> Erdbeben</div>


</div>
<!-- fuss-main ende -->

<!-- ############################### fuss ENDE ############################# -->











<!-- ============================== ENDE HAUPTBEREICH  ============================== -->

</div>
<!-- ende container-haupt-->

</body>
</html>