<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="page-type" content=" homepage">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords"
content="homepage,dokument,webpage,page,web,netz,homepage dokument webpage page web netz">
<meta name="description"
content="homepage, dokument, webpage, page, web, netz" >
<title>Darstellung von Erdbeben</title>

<!-- /////////////////// Copyright-Vermerk /////////////////// -->
<!-- Der nachfolgende einzeilige Copyright-Vermerk (c) ist nicht zu loeschen.-->
<!-- (c)Copyright by S.I.S.Papenburg / www.on-mouseover.de/templates/ -->
<!--Ein Entfernen dieses Copyright/Urheberrecht-Vermerks kann rechtliche Schritte nach sich ziehen -->
<!-- ////////////////////////////////////// -->



<!-- /////////////////// Der nachfolgende Hinweis-Vermerk darf geloescht werden /////////////////// -->
<!-- Hinweis:
Das Anbieten dieser Vorlage auf einer Webseite, CD, DVD oder anderen Bild/Tontraegern ist untersagt.
Nutzen duerfen Sie diese Vorlage aber auf einer Webseite wie folgt:
Die Vorlage kann privat (kostenlos) und kommerziell/gewerblich (gegen Bezahlung) fuer Sie selbst oder eine dritte Person (andere Person oder Firma) genutzt werden.
Je nach dem Inhalt, welcher eingefuegt wird, kann auch fuer Privatpersonen eine kommerzielle Nutzung vorliegen.
Lesen Sie auf der Webseite www.on-mouseover.de/templates/
bitte die Nutzungsbedingungen nach.
-->
<!-- /////////////////// Ende /////////////////// -->


<link rel="stylesheet" href="{{ url_for('static', filename ='format.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='menue.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='animation.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='font-awesome.min.css' )}}" type="text/css">

<!-- /////////////////// BROWSERWEICHE  - Conditional Comments  Internet Explorer Vers. 8 und tiefer /////////////////// -->
<!--[if lt IE 9]>
   <link href="css/hinweis-alte-ie.css" rel="stylesheet" type="text/css">
<![endif]-->
<!-- /////////////////// Ende /////////////////// -->


</head>

<body >

<div class="container_haupt" id="top">



<!-- ============================== HAUPTBEREICH ============================== -->


<!-- ############################################################ -->
<!-- kopf bereich -->
<!-- ############################################################ -->

<div class="section kopf-main clearfix">
<div class="section kopf clearfix">
<div class="kopfbox">

<!-- kopfbox-a -->
<div class="kopfbox-a">
<span class="name">Darstellung von weltweiten Erdbebendaten</span>
<span class="slogan">der letzen 30 Tage</span>
</div>
<!-- kopfbox-a ende -->

<!-- kopfbox-b  -->
<div class="kopfbox-b">
<!-- = = = = = = = = = = navigation   = = = = = = = = = = -->
<div id="nav-menue">
<!--  checkboxhack versteckt -->
<input type="checkbox" id="open">
<!--  menue-schliessen-button -->
<label class="button-close" for="open"><i class="fa fa-times"></i></label>
<!--  menue-oeffnen-button -->
<label class="button-open" for="open"><i class="fa fa-bars"></i></label>

<div id="menu1">
<ul>
<li id="aktuell"><a  href='{{ url_for("index") }}'>Karte</a></li>
<li><a href='{{ url_for("index1") }}' >Was sind Erdbeben?</a></li>
<li><a href='{{ url_for("index2") }}' >Die stärksten Erdbeben</a></li>
<li><a href='{{ url_for("index3") }}' >Erdbebenvorhersage</a></li>
<li><a href='{{ url_for("index4") }}' >4</a></li>
<li><a href='{{ url_for("index5") }}' >5</a></li>
<li><a href='{{ url_for("index5") }}' >6</a></li>
</ul>
</div>
</div>
<!-- = = = = = = = = = = ENDE navigation = = = = = = = = = = -->
</div>
<!-- kopfbox-b ende -->


</div>
</div>
</div>
<!-- ende kopf-main -->




<!-- ############################################################ -->
<!-- logo bereich -->
<!-- ############################################################ -->

<div class="section logo-main clearfix">
<div class="section logo clearfix">
<div class="logobox"> 


</div>
</div>

<div class="logo-bottom">&nbsp;</div>

</div>
<!-- ende logo-main -->



<!-- ############################################################ -->
<!-- inhalt bereich -->
<!-- ############################################################ -->

<div class="section inhalt-main clearfix">


<!-- ############################## info ############################## -->

<div>
</div>
<br>
<h1>Signifikante Erdbeben</h1>
<h2>der letzten 30 Tage</h2>
<br>
<iframe src="{{ iframe }}" width="1000" height="600"></iframe>
<br>
<br>







</div>
<!-- ############################## info ENDE ############################## -->



<!-- ############################## bilder ############################## -->

<div class="section bilder-startseite clearfix">

<div class="bildbox header">
<h3>Einige Fakten</h3>
</div>
<div class="col span_1_of_4">
<div class="bildbox">
<img src="{{url_for('static', filename='images/picture04.jpg')}}" width="900" height="500"  alt="" ><br>
<h3>Die größte Erdbeben-Magnitude</h3>
<br>
Die größte Erdbeben-Magnitude, die jemals gemessen wurde, war 9,5. So heftig war das Erdbeben von Valdivia, das am 22. Mai 1960 eine chilenische Kleinstadt zerstörte und einen bis zu 25 Meter hohen Tsunami auslöste.
</div>
</div>

<div class="col span_1_of_4">
<div class="bildbox">
<img src="{{url_for('static', filename='images/5.jpg')}}" width="900" height="500"  alt="" ><br>
<h3>Die meisten Erdbeben-Tote</h3>
<br>
Als am 20. Mai 1202 im Nahen Osten die Erde bebte, bedeutete das für zahlreiche Menschen den Tod. Die Quellenangaben schwanken zwischen 30.000 und unglaublichen 1,1 Millionen! Bei der Maximalschätzung sind vermutlich indirekte Folgen des Erdbebens (wie eine Hungersnot) mitgerechnet.
</div>
</div>

<div class="col span_1_of_4">
<div class="bildbox">
<img src="{{url_for('static', filename='images/seismograph2.jpg')}}" width="900" height="500"  alt="" ><br>
<h3>Stärkstes Erdbeben in Deutschland</h3>
<br>
Das stärkste Erdbeben in Deutschland fand 18. Februar 1756 in Düren statt. Nach heutigen Schätzungen erreichten die Erdstöße die Magnitude 6,4 auf der Richter-Skala.
</div>
</div>

<div class="col span_1_of_4">
<div class="bildbox">
<img src="{{url_for('static', filename='images/tsunami.jpeg')}}" width="900" height="500"  alt="" ><br>
<h3>Höchste Tsunami-Welle</h3>
<br>
Der gewaltigste Tsunami in historischer Zeit war etwa 85 Meter hoch und wurde von einem Seebeben im Pazifik ausgelöst. Er traf die heute zu Japan gehörenden Yaeyama-Inseln und forderte mehr als 13.000 Menschenleben.
</div>
</div>

</div>

<!-- ############################## bilder ENDE ############################## -->



<!-- ############################## info 2 ############################## -->

<div class="section info2 clearfix">

<div class="col span_1_of_2">
<div class="infobox2">
<div class="infobox2-a"><i class="fa fa-desktop" ></i></div>

<div class="infobox2-b">
<h3>Text1</h3>

xyz
</div>
</div>
</div>

<div class="col span_1_of_2">
<div class="infobox2">
<div class="infobox2-a"><i class="fa fa-cogs" ></i></div>
<div class="infobox2-b">
<h3>text2</h3>
xyz
</div>
</div>
</div>

</div>
<!-- ############################## info 2 ENDE ############################## -->


</div>
<!-- ende inhalt -->



<!-- ############################################################ -->
<!-- fuss bereich -->
<!-- ############################################################ -->



<!-- ############################## fuss ############################## -->
<div class="section fuss-main clearfix ">

<div class="section fuss clearfix  ">

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>Inhaltsverzeichnis</h3>
<div class="fussmenu2" >
<ul>
<li><a href="index.html">Karte</a></li>
<li><a href="index1.html">Was sind Erdbeben?</a></li>
<li><a href="index2.html">Die stärksten Erdbeben</a></li>
<li><a href="index3.html">Erdbebenvorhersage</a></li>
<li><a href="index4.html">4</a></li>
<li><a href="index5.html">5</a></li>
<li><a href="index6.html">6</a></li>
</ul>
</div>
<!-- fussbox inhalt ende -->
</div>
</div>

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>Legal Conditions</h3>
<div class="fussmenu2"  >
<ul>
<li><a href="impressum.html" >Impressum</a></li>
<li><a href="datenschutz.html" >Datenschutz</a></li>
<li><a href="disclaimer.html" >Disclaimer</a></li>
</ul>
</div>
<h3>Find Us</h3>
Ron Robertson<br>
Roxanne Street 12<br>
GB - London
<!-- fussbox inhalt ende-->
</div>
</div>

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>Social Media</h3>
<a href="index.html"><i class="fa fa-facebook"></i></a>
<a href="index.html"><i class="fa fa-twitter"></i></a>
<a href="index.html"><i class="fa fa-google-plus"></i></a>
<a href="index.html"><i class="fa fa-instagram"></i></a>
<a href="index.html"><i class="fa fa-youtube"></i></a>
<a href="index.html"><i class="fa fa-skype"></i></a>
<br>
<h3>Mail</h3>
infokontaktmail@muster.de
<!-- fussbox inhalt ende -->
</div>
</div>


</div>
<!-- fuss ende -->

<div class="fuss-bottom"><span>&copy;</span> Erd</div>


</div>
<!-- fuss-main ende -->

<!-- ############################### fuss ENDE ############################# -->











<!-- ============================== ENDE HAUPTBEREICH  ============================== -->

</div>
<!-- ende container-haupt-->

</body>
</html>