<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="page-type" content=" homepage">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords"
content="homepage,dokument,webpage,page,web,netz,homepage dokument webpage page web netz">
<meta name="description"
content="homepage, dokument, webpage, page, web, netz" >
<title>homepage, dokument, webpage, page, web, netz, homepage dokument webpage page web netz</title>

<!-- /////////////////// Copyright-Vermerk /////////////////// -->
<!-- Der nachfolgende einzeilige Copyright-Vermerk (c) ist nicht zu loeschen.-->
<!-- (c)Copyright by S.I.S.Papenburg / www.on-mouseover.de/templates/ -->
<!--Ein Entfernen dieses Copyright/Urheberrecht-Vermerks kann rechtliche Schritte nach sich ziehen -->
<!-- ////////////////////////////////////// -->



<!-- /////////////////// Der nachfolgende Hinweis-Vermerk darf geloescht werden /////////////////// -->
<!-- Hinweis:
Das Anbieten dieser Vorlage auf einer Webseite, CD, DVD oder anderen Bild/Tontraegern ist untersagt.
Nutzen duerfen Sie diese Vorlage aber auf einer Webseite wie folgt:
Die Vorlage kann privat (kostenlos) und kommerziell/gewerblich (gegen Bezahlung) fuer Sie selbst oder eine dritte Person (andere Person oder Firma) genutzt werden.
Je nach dem Inhalt, welcher eingefuegt wird, kann auch fuer Privatpersonen eine kommerzielle Nutzung vorliegen.
Lesen Sie auf der Webseite www.on-mouseover.de/templates/
bitte die Nutzungsbedingungen nach.
-->
<!-- /////////////////// Ende /////////////////// -->


<link rel="stylesheet" href="{{ url_for('static', filename ='format.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='menue.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='animation.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='font-awesome.min.css' )}}" type="text/css">


<!-- /////////////////// BROWSERWEICHE  - Conditional Comments  Internet Explorer Vers. 8 und tiefer /////////////////// -->
<!--[if lt IE 9]>
   <link href="css/hinweis-alte-ie.css" rel="stylesheet" type="text/css">
<![endif]-->
<!-- /////////////////// Ende /////////////////// -->

</head>

<body >

<div class="container_haupt" id="top">



<!-- ============================== HAUPTBEREICH ============================== -->


<!-- ############################################################ -->
<!-- kopf bereich -->
<!-- ############################################################ -->

<div class="section kopf-main clearfix">
<div class="section kopf clearfix">
<div class="kopfbox">

<!-- kopfbox-a -->
<div class="kopfbox-a">
<span class="name">Cup Of Coffee Please</span>
<span class="slogan">This Is Responsive</span>
</div>
<!-- kopfbox-a ende -->

<!-- kopfbox-b  -->
<div class="kopfbox-b">
<!-- = = = = = = = = = = navigation   = = = = = = = = = = -->
<div id="nav-menue">
<!--  checkboxhack versteckt -->
<input type="checkbox" id="open">
<!--  menue-schliessen-button -->
<label class="button-close" for="open"><i class="fa fa-times"></i></label>
<!--  menue-oeffnen-button -->
<label class="button-open" for="open"><i class="fa fa-bars"></i></label>

<div id="menu1">
<ul>
<li><a  href='{{ url_for("index") }}'>Karte</a></li>

<li><a href='{{ url_for("index1") }}' >Was sind Erdbeben?</a></li>
<li><a href='{{ url_for("index2") }}' >Die stärksten Erdbeben</a></li>
<li id="aktuell"><a href='{{ url_for("index3") }}' >Erdbebenvorhersage</a></li>
<li><a href='{{ url_for("index4") }}' >4</a></li>
<li><a href='{{ url_for("index5") }}' >5</a></li>
<li><a href='{{ url_for("index5") }}' >6</a></li>
</ul>
</div>
</div>
<!-- = = = = = = = = = = ENDE navigation = = = = = = = = = = -->
</div>
<!-- kopfbox-b ende -->


</div>
</div>
</div>
<!-- ende kopf-main -->




<!-- ############################################################ -->
<!-- logo bereich -->
<!-- ############################################################ -->

<div class="section logo-main clearfix">

<div class="section logo clearfix">
<div class="logobox">
<span class="seitentitel-mobil">Tertius</span>
</div>
</div>

<div class="logo-bottom">&nbsp;</div>

</div>
<!-- ende logo-main -->



<!-- ############################################################ -->
<!-- inhalt bereich -->
<!-- ############################################################ -->

<div class="section inhalt-main clearfix">


<!-- ############################## content ############################## -->

<div class="section content clearfix">
<div class="contentbox">

<h2>Sea no civibus</h2>
<h3>Eu his nobis tantas</h3>
In interesset definitionem delicatissimi sed. Te vis falli nostrud urbanitas. Pro at doctus molestiae, te sea dicit repudiandae. Has ut veniam altera recteque, eu quas delenit eam. Legere commodo platonem duo ne, pro alia aliquid explicari in, et eum nullam sensibus scriptorem.

<br>

<h3>At unum complectitur mei</h3>
Sint duis deterruisset quo ad, menandri senserit sententiae mei te. Vis eu porro simul utinam, saepe mentitum tacimates sea at. Utroque sensibus duo at, nibh minimum ut sea, est an primis denique sapientem. Oratio salutatus in per. Sea aeque equidem offendit eu, posse latine ea eam. Soluta putant fabulas his in, veniam impedit accumsan no mea, dicant ullamcorper nam ei.
<br>
<br>
<br>
<!-- ############################## bilder ############################## -->

<div class="section bilder-unterseite clearfix">

<div class="bildbox header">
<h3>Four Pictures</h3>
</div>
<div class="col span_1_of_4">
<div class="bildbox">
<img src="images/picture05.jpg" width="900" height="500"  alt="" ><br>
Lorem ipsum dolor sit amet, facilis nominati philosophia sit ei, eos nonumy lobortis expetendis te.
</div>
</div>

<div class="col span_1_of_4">
<div class="bildbox">
<img src="images/picture06.jpg" width="900" height="500"  alt="" ><br>
Lorem ipsum dolor sit amet, dicunt iuvaret usu ad, vix urbanitas sententiae no. Ad has odio feugiat, quo id nibh.
</div>
</div>

<div class="col span_1_of_4">
<div class="bildbox">
<img src="images/picture03.jpg" width="900" height="500"  alt="" ><br>
Lorem ipsum dolor sit amet, putant malorum civibus qui cu, eos te elit velit. Nam apeirian insolens in.
</div>
</div>

<div class="col span_1_of_4">
<div class="bildbox">
<img src="images/picture04.jpg" width="900" height="500"  alt="" ><br>
Lorem ipsum dolor sit amet, cu wisi efficiendi usu, eum oratio fierent petentium cu. In vel malis inani.
</div>
</div>

</div>

<!-- ############################## bilder ENDE ############################## -->
<br>
<br>
<br>


<h2>Cu eum facer</h2>
<h3>No erat mandamus per</h3>
At causae verterem elaboraret vix, sea te nostrud definiebas honestatis. Animal quaerendum qui eu, te aliquip graecis praesent vel. Vel dicta nominati sensibus ea, utroque repudiare vituperatoribus vix cu, an sed delicata indoctum. Solum possit antiopam cum no. Id his graeci labore corpora, usu at sonet utamur. No sed sale evertitur, eos ex assum fierent elaboraret, eu vis debet adipiscing.

<br>

<h3>Et vel dicit libris</h3>
Dolore numquam vix ei. Vix minim eirmod appareat an, mel eu verear epicuri, nam ut atqui velit laudem. Mel nonumes laboramus vulputate ad, an invenire accusamus vim, est delenit nominati ocurreret ad. Corrumpit evertitur pro ea. Et eam oratio suavitate. Mei id appareat recteque principes.


<br>
<br>
<br>


<h2>Vim tota lorem</h2>
<h3>Sit et mollis graecis</h3>

Ancillae gloriatur cu quo. Dicat vidisse mentitum vis an. Nec ad quod aperiam, probo eligendi voluptua in duo, usu summo novum at. Inani persecuti pri at. Iriure nonumes vis id, tale lorem ea est. Magna nusquam et ius, at habeo conclusionemque nec.
<br>

<h3>Quod suas eleifend ne</h3>
Nibh viris recteque ad vix, eu minimum facilisi comprehensam nec. Alia equidem vis te. Option liberavisse an mea, ut prodesset persequeris mei, duo elitr discere percipit id. His natum similique consectetuer ex, per eu saperet philosophia, ad summo graece deserunt qui. Sea ridens accusata ea. Ut liber omittam principes vis, vim mutat debet nostro ne.

</div>
</div>
<!-- ############################## content ENDE ############################## -->





</div>
<!-- ende inhalt -->



<!-- ############################################################ -->
<!-- fuss bereich -->
<!-- ############################################################ -->



<!-- ############################## fuss ############################## -->
<div class="section fuss-main clearfix ">

<div class="section fuss clearfix  ">

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>More</h3>
<div class="fussmenu2" >
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="index1.html">Primus</a></li>
<li><a href="index2.html">Secundus</a></li>
<li><a href="index3.html">Tertius</a></li>
<li><a href="index4.html">Quartus</a></li>
<li><a href="index5.html">Quintus</a></li>
<li><a href="index6.html">Sextus</a></li>
</ul>
</div>
<!-- fussbox inhalt ende -->
</div>
</div>

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>Legal Conditions</h3>
<div class="fussmenu2"  >
<ul>
<li><a href="impressum.html" >Impressum</a></li>
<li><a href="datenschutz.html" >Datenschutz</a></li>
<li><a href="disclaimer.html" >Disclaimer</a></li>
</ul>
</div>
<h3>Find Us</h3>
Ron Robertson<br>
Roxanne Street 12<br>
GB - London
<!-- fussbox inhalt ende-->
</div>
</div>

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>Social Media</h3>
<a href="index.html"><i class="fa fa-facebook"></i></a>
<a href="index.html"><i class="fa fa-twitter"></i></a>
<a href="index.html"><i class="fa fa-google-plus"></i></a>
<a href="index.html"><i class="fa fa-instagram"></i></a>
<a href="index.html"><i class="fa fa-youtube"></i></a>
<a href="index.html"><i class="fa fa-skype"></i></a>
<br>
<h3>Mail</h3>
infokontaktmail@muster.de
<!-- fussbox inhalt ende -->
</div>
</div>


</div>
<!-- fuss ende -->

<div class="fuss-bottom"><span>&copy;</span> 2020 Cup Of Coffee</div>


</div>
<!-- fuss-main ende -->

<!-- ############################### fuss ENDE ############################# -->











<!-- ============================== ENDE HAUPTBEREICH  ============================== -->

</div>
<!-- ende container-haupt-->

</body>
</html>