<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="page-type" content=" homepage">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords"
content="homepage,dokument,webpage,page,web,netz,homepage dokument webpage page web netz">
<meta name="description"
content="homepage, dokument, webpage, page, web, netz" >
<title>Darstellung von Erdbeben</title>

<!-- /////////////////// Copyright-Vermerk /////////////////// -->
<!-- Der nachfolgende einzeilige Copyright-Vermerk (c) ist nicht zu loeschen.-->
<!-- (c)Copyright by S.I.S.Papenburg / www.on-mouseover.de/templates/ -->
<!--Ein Entfernen dieses Copyright/Urheberrecht-Vermerks kann rechtliche Schritte nach sich ziehen -->
<!-- ////////////////////////////////////// -->



<!-- /////////////////// Der nachfolgende Hinweis-Vermerk darf geloescht werden /////////////////// -->
<!-- Hinweis:
Das Anbieten dieser Vorlage auf einer Webseite, CD, DVD oder anderen Bild/Tontraegern ist untersagt.
Nutzen duerfen Sie diese Vorlage aber auf einer Webseite wie folgt:
Die Vorlage kann privat (kostenlos) und kommerziell/gewerblich (gegen Bezahlung) fuer Sie selbst oder eine dritte Person (andere Person oder Firma) genutzt werden.
Je nach dem Inhalt, welcher eingefuegt wird, kann auch fuer Privatpersonen eine kommerzielle Nutzung vorliegen.
Lesen Sie auf der Webseite www.on-mouseover.de/templates/
bitte die Nutzungsbedingungen nach.
-->
<!-- /////////////////// Ende /////////////////// -->


<link rel="stylesheet" href="{{ url_for('static', filename ='format.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='menue.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='animation.css' )}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename ='font-awesome.min.css' )}}" type="text/css">


<!-- /////////////////// BROWSERWEICHE  - Conditional Comments  Internet Explorer Vers. 8 und tiefer /////////////////// -->
<!--[if lt IE 9]>
   <link href="css/hinweis-alte-ie.css" rel="stylesheet" type="text/css">
<![endif]-->
<!-- /////////////////// Ende /////////////////// -->

</head>

<body >

<div class="container_haupt" id="top">



<!-- ============================== HAUPTBEREICH ============================== -->


<!-- ############################################################ -->
<!-- kopf bereich -->
<!-- ############################################################ -->

<div class="section kopf-main clearfix">
<div class="section kopf clearfix">
<div class="kopfbox">

<!-- kopfbox-a -->
<div class="kopfbox-a">
<span class="name">Darstellung von weltweiten Erdbebendaten</span>
<span class="slogan">der letzen 30 Tage</span>
</div>
<!-- kopfbox-a ende -->

<!-- kopfbox-b  -->
<div class="kopfbox-b">
<!-- = = = = = = = = = = navigation   = = = = = = = = = = -->
<div id="nav-menue">
<!--  checkboxhack versteckt -->
<input type="checkbox" id="open">
<!--  menue-schliessen-button -->
<label class="button-close" for="open"><i class="fa fa-times"></i></label>
<!--  menue-oeffnen-button -->
<label class="button-open" for="open"><i class="fa fa-bars"></i></label>

<div id="menu1">
<ul>
<li><a  href='{{ url_for("index") }}'>Karte</a></li>

<!--
<form method="post" action="/index1">
   <input type="submit" value="Was sind Erdbeben"/>
</form>
<form method="post" action="/index2">
   <input type="submit" value="Die staerksten Erdbeben"/>
</form>
<form method="post" action="/index3">
   <input type="submit" value="Erdbebenvorhersage"/>
</form>
-->

<li id="aktuell"></li><a href='{{ url_for("index1") }}' >Was sind Erdbeben?</a></li>
<li><a href='{{ url_for("index2") }}' >Die stärksten Erdbeben</a></li>
<li><a href='{{ url_for("index3") }}' >Erdbebenvorhersage</a></li>
<li><a href='{{ url_for("index4") }}' >4</a></li>
<li><a href='{{ url_for("index5") }}' >5</a></li>
<li><a href='{{ url_for("index5") }}' >6</a></li>

</ul>
</div>
</div>
<!-- = = = = = = = = = = ENDE navigation = = = = = = = = = = -->
</div>
<!-- kopfbox-b ende -->


</div>
</div>
</div>
<!-- ende kopf-main -->




<!-- ############################################################ -->
<!-- logo bereich -->
<!-- ############################################################ -->

<div class="section logo-main clearfix">

<div class="section logo clearfix">
<div class="logobox">
<span class="seitentitel-mobil">Primus</span>
</div>
</div>

<div class="logo-bottom">&nbsp;</div>

</div>
<!-- ende logo-main -->



<!-- ############################################################ -->
<!-- inhalt bereich -->
<!-- ############################################################ -->

<div class="section inhalt-main clearfix">


<!-- ############################## content ############################## -->

<div class="section content clearfix">
<div class="contentbox">


<h2>Was sind Erdbeben?</h2>
"Als Erdbeben werden messbare Erschütterungen des Erdkörpers bezeichnet. Sie entstehen durch Masseverschiebungen, zumeist als 
tektonische Beben infolge von Verschiebungen der tektonischen Platten an Bruchfugen der Lithosphäre, in weniger bedeutendem 
Maße auch durch vulkanische Aktivität, Einsturz oder Absenkung unterirdischer Hohlräume, große Erdrutsche und Bergstürze sowie 
durch Sprengungen. Erdbeben, deren Herd unter dem Meeresboden liegt, werden auch Seebeben oder unterseeische Erdbeben 
genannt. Diese unterscheiden sich von anderen Beben zum Teil in den Auswirkungen wie zum Beispiel der Entstehung eines Tsunamis, 
jedoch nicht in ihrer Entstehung.
<br>
<br>
Erdbeben bestehen beinahe in aller Regel nicht aus einer einzelnen Erschütterung, sondern ziehen meist weitere nach sich.
 Man spricht in diesem Zusammenhang von Vorbeben und Nachbeben mit Bezug auf ein stärkeres Hauptbeben. Treten Erdbeben über 
 einen längeren, begrenzten Zeitraum gehäuft auf, so spricht man von einem Erdbebenschwarm oder Schwarmbeben. Solche treten 
 vor allem in vulkanisch aktiven Regionen auf. In Deutschland gibt es gelegentlich Erdbebenschwärme im Vogtland und am Hochstaufen.
<br>
Der deutlich größte Anteil aufgezeichneter Erdbeben ist zu schwach, um von Menschen wahrgenommen zu werden. Starke Erdbeben 
können Bauten vernichten, Tsunamis und Erdrutsche auslösen und dabei Menschen töten. Sie können die Gestalt der Erdoberfläche
verändern und zählen zu den Naturkatastrophen. Die Wissenschaft, die sich mit Erdbeben befasst, heißt Seismologie. Die zehn 
stärksten seit 1900 gemessenen Erdbeben fanden mit einer Ausnahme alle an der Subduktionszone rund um den Pazifik, dem sogenannten 
Pazifischen Feuerring, statt.
<br>
<br>
Laut einer Analyse von mehr als 35.000 Naturkatastrophen-Ereignissen seit 1900 bis 2015 durch das Karlsruher Institut für 
Technologie (KIT) kamen in dieser Zeit weltweit insgesamt 2,23 Millionen Menschen durch Erdbeben ums Leben."
<br>
<br>
Zitat: https://de.wikipedia.org/wiki/Erdbeben  

</div>
</div>
<!-- ############################## content ENDE ############################## -->





</div>
<!-- ende inhalt -->



<!-- ############################################################ -->
<!-- fuss bereich -->
<!-- ############################################################ -->



<!-- ############################## fuss ############################## -->
<div class="section fuss-main clearfix ">

<div class="section fuss clearfix  ">

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>More</h3>
<div class="fussmenu2" >
<ul>
<li><a href="index.html">Karte</a></li>
<li><a href="index1.html">Was sind Erdbeben?</a></li>
<li><a href="index2.html">Die stärksten Erdbeben</a></li>
<li><a href="index3.html">Erdbebenvorhersage</a></li>
<li><a href="index4.html">4</a></li>
<li><a href="index5.html">5s</a></li>
<li><a href="index6.html">6</a></li>
</ul>
</div>
<!-- fussbox inhalt ende -->
</div>
</div>

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>Legal Conditions</h3>
<div class="fussmenu2"  >
<ul>
<li><a href="impressum.html" >Impressum</a></li>
<li><a href="datenschutz.html" >Datenschutz</a></li>
<li><a href="disclaimer.html" >Disclaimer</a></li>
</ul>
</div>
<h3>Find Us</h3>
Ron Robertson<br>
Roxanne Street 12<br>
GB - London
<!-- fussbox inhalt ende-->
</div>
</div>

<div class="col span_1_of_3">
<div class="fussbox">
<!-- fussbox inhalt -->
<h3>Social Media</h3>
<a href="index.html"><i class="fa fa-facebook"></i></a>
<a href="index.html"><i class="fa fa-twitter"></i></a>
<a href="index.html"><i class="fa fa-google-plus"></i></a>
<a href="index.html"><i class="fa fa-instagram"></i></a>
<a href="index.html"><i class="fa fa-youtube"></i></a>
<a href="index.html"><i class="fa fa-skype"></i></a>
<br>
<h3>Mail</h3>
infokontaktmail@muster.de
<!-- fussbox inhalt ende -->
</div>
</div>


</div>
<!-- fuss ende -->

<div class="fuss-bottom"><span>&copy;</span> Erdbeben</div>


</div>
<!-- fuss-main ende -->

<!-- ############################### fuss ENDE ############################# -->











<!-- ============================== ENDE HAUPTBEREICH  ============================== -->

</div>
<!-- ende container-haupt-->

</body>
</html>