/* = = = = = = = = = = = = = = = = = datei menue.css = = = = = = = = = = = = = = = = = = = = = = = = = */


/* ############################################################ */
/* diese datei enthält das hauptmenü */
/* alle anderen menüs sowie auch allgemeine links im text bzw. eventuelle "Weiter-Links"
sind in der Datei "format.css" direkt beim jeweiligen abschnitt (z.b. Logo, Info, Inhalt, Fuss o.ä.) definiert */
/* ############################################################ */




/* = = = = = = = = = = = = = = = = = MENÜ 1 = = = = = = = = = = = = = = = = = = = = = = = = = */


* {
margin : 0;
padding : 0;
}

/* menü-öffnen-schalter */

label.button-open .fa {display:inline-block;
text-align:center;
z-index:1;
position:absolute;
background:white;
color:peru;
cursor:pointer;
top:1rem;left:2rem;
box-shadow:inset 0rem 0rem .1rem #4F4F4F ,0rem 0rem 0.1rem #000;
font-size:2.5rem;
border-radius:36rem;
height:5rem;
line-height:5rem;
width:5rem;
}


/* menü-schliessen-schalter */

label.button-close .fa {display:inline-block;
text-align:center;
z-index:1;
position:absolute;
background:peru;
color:white;
cursor:pointer;
top:1rem;left:2rem;
box-shadow:inset 0rem 0rem .1rem #4F4F4F ,0rem 0rem 0.1rem #000;
font-size:2.5rem;
border-radius:36rem;
height:5rem;
line-height:5rem;
width:5rem;
}


/* hover -  menü-oeffnen-schalter/menü-schliessen-schalter */

label.button-open:hover .fa {background:black; }
label.button-close:hover .fa {background:firebrick; }


/* menue */

#nav-menue {width :100%;
display:block;position:absolute;top:0rem;left:0rem;
z-index:1;
}

#menu1 {
position:absolute;
top:0rem;
left:0rem;
overflow:hidden;
background:#313131;
padding-top:1rem;
padding-right:1rem;
width:100%;
height:100vh;
margin:0 auto;
margin-top:0rem;
margin-left:-200vw;
transition: all 1s ease-in-out;
}

#menu1 li {display:inline-block;
width : 100%;
list-style-type : none;
}

#menu1 a {
display:inline-block;
width : 100%;
padding : .6rem;
text-decoration : none;
color :#EFEDE2;
font-size:1.8rem;
height:4rem;
letter-spacing:0.2rem;
}

#menu1 a:hover {
color : white;
text-decoration:underline;
}

#menu1 #aktuell a   {
color : peru;
font-size:1.8rem;
}


/* - - - - - TOGGLE-FUNKTION (MENÜ AN UND AUS) MIT CHECKBOX-HACK - - - - - */


/* checkbox versteckt */
input[type=checkbox]{
display: none;
}

/* schaltet menu ein/aus */
input#open:checked ~ #menu1  {
margin:0;
}

/* macht menü-oeffnen-button unsichtbar/sichtbar */
input#open:checked ~  label.button-open .fa {
visibility:hidden;
}



/* ############################################################ */
/* M E D I A   Q U E R I E S */
/* ############################################################ */


/* ==================================== ab 480 pixel ================================== */
@media (min-width: 480px) {

#menu1 {width:50%; }

}


/* ==================================== ab 580 pixel ================================== */
@media (min-width: 580px) {

#menu1 {height:49rem; }

}


/* ==================================== ab 768 pixel ================================== */
@media (min-width: 768px) {

/* menu-schalter versteckt */
label.button-open ,
 label.button-close {display:none;
}

#nav-menue {width :100%;
display:block;position:relative;
}

#menu1 {
position:relative;
background:transparent;
padding:0;
width:100%;
margin:0 auto;
transition: none;
}

#menu1 li {display:inline;
width : 100%;
list-style-type : none;
}

#menu1 a {
display:inline;
width : 100%;
padding : .2rem;margin:.3rem;
text-decoration : none;
color : #313131;
font-size:1.8rem;
letter-spacing:0rem;
}

#menu1 a:hover {
color : black;
background :white;
text-decoration:none;
}

#menu1 #aktuell a   {
color :white;
background:black;
}

}

/* ==================================== ab 1024 pixel ================================== */
@media (min-width: 1024px) {

#menu1 a {
padding-left: .8rem;
padding-right: .8rem;
}


}




/* = = = = = = = = = = = = = = = = = = = = = Code Ende = = = = = = = = = = = = = = = = = = = = = */